.navBarList {

}

.navBar {
    display: flex;
    flex-direction: column;
    grid-area: n;
    background-color: burlywood;
    padding: 10px;
    color: white;
}

.iteme {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
 .active{
    color: gold;
     text-decoration: none;
     font-weight: 600;
     font-size: 18px;
     padding-left: 5px;
     transition: all 0.3s ease 0s;
}