.dialogs{
    display: flex;
    font-size: 20px;
}
.dialogNames{
flex: 0 0 250px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 15px 10px;
    border-right: 2px solid black;
}
.dialogNameIteme:hover{
    background-color: #447bea;
}
.dialogNameIteme{
padding: 10px;
    border-bottom: 1px solid #c0bbbb;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.active{
    padding: 10px;
    border-bottom: 1px solid #c0bbbb;
    color: gold;
    font-weight: 600;
    font-size: 1.2em;
    text-decoration: none;
    transition: all 0.3s ease 0s;

}
.dialogsChat{
display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;

}
.dialogChatMessage{
padding: 15px;
    background-color: antiquewhite;
    border-radius: 10px;
    align-self: flex-start;
}